body {
    display: flex;
    font-family: Arial, sans-serif;
}

#map-container {
    position: relative;
}

#map {
    width: 2200px;
    height: 2200px;
}

#marker {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

#gui {
    margin-left: 20px;
}

#blast-radii {
    margin-top: 20px;
}
